<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Dr.Z</title>
    </head>
  <body>
    <div class="container">
      <h1>Dr Zaius</h1>
      <a href="../index.html" class="button">Home</a>
        <div class="drz">
        </div>
    </div>
    <footer>
      <h1>BluePathNode™️</h1>
      <a href="../../index.html" class="button">Home</a>  
    </footer>
  </body>
</html>