/* variables */
:root {
    /* colors */ 
    --NodeBackground:  #15385b;
    --Nodepath:        #091b31;
    --NodeLblue:       #89d5ff;
    --NodeScreenL:     #00000039;
    --NodeScreenD:     #0000004c;
    --Nodewhite:       #f3f3f3;
    --NodeBlack:       #091b31;
    --NodeGrey:        #c0c0c0;
    --NodeGreyD:       #656565;

    /* vars */
    --CardHeight:       250px;
    --JumboTronHeight:  375px
}
body {
    background-color: var(--NodeBackground);
}
/* Nav section */
.navbar-toggler {
    border-color: var(--Nodewhite);
}
.navbar-toggler-ico {
    background-color: var(--Nodewhite);
    filter: invert(1);
}
.navbar {
    background-color: var(--Nodepath);
    color: var(--Nodewhite);
}
.navbar-brand {
    color: var(--Nodewhite);
}
/*.navbar-brand:hover {
    color: rgb(0, 0, 255);
}*/
.navbar-nav {
    padding-top: 10px;
    padding-right: 10px;
}
.nav-border {
  
    padding-left: 4px;
    padding-right: 4px;
}
/* Features Section */
.jumbotron {
    margin-top: 0px;
    height: var(--JumboTronHeight);
    background-color: var(--NodeLblue);
    background-image: url("../static/image/sandbox.png");
    background-size: cover;
    background-position: center;
}
.hero {
    background-color: var(--NodeScreenL);
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 15px;
}
.feature {
    margin-top: 24px;
    margin-bottom: 0px;
}
/* Cards */
.card-head {
    padding-top: 10px;
}
.card-one {
    height: var(--CardHeight);
    background-image: url("../static/image/python1.png");
    background-repeat: no-repeat;
    background-position: center;
}
.card-two {
    height: var(--CardHeight);
    background-image: url("../static/image/Html-Css1.png");
    background-repeat: no-repeat;
    background-position: center;
}
.card-three {
    height: var(--CardHeight);
    background-image: url("../static/image/tbd1.jpeg");
    background-repeat: no-repeat;
    background-position: center;
}
.card-text {
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--Nodewhite);
    background-color: var(--NodeScreenD);
    border-radius: .25cm;
}
.card-lower {
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 15px;
    margin-bottom: 20px;   
}
.footsie {   
    margin-bottom: 0;
    background-color: var(--Nodepath);
}
.footsie-t {
    color: var(--Nodewhite);
}
/* Buttons */
.box-1 {
    padding-bottom: 10px;
}
.btn-one {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
}
.btn-one span {
    transition: all 0.3s;
}
.btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
}
.btn-one:hover span {
    letter-spacing: 2px;
}
.btn-one:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
}
.btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
}

